<div class="row">
  <div class="columns large-9 large-centered">
    <h4 class="text-center">New idea</h4>
<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
        <%= f.hidden_field :user_id  , :value => "#{current_user.id}" %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :skills %><br>
    <%= f.text_area :skills %>
  </div>
  <div class="field">
    <%= f.label :additional_info %><br>
    <%= f.text_area :additional_info %>
  </div>
  <div class="field">
    <%= f.label :platform_id %><br>
    <%= f.collection_select :platform_id, Platform.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :role_id %><br>
    <%= f.collection_select :role_id, Role.all, :id, :name %>
  </div>
  <div class="actions text-center">
    <%= f.submit :class => "button success radius" %>
  </div>
<% end %>
  </div>
</div>