<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @idea.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @idea.skills %>
</p>

<p>
  <strong>Additional info:</strong>
  <%= @idea.additional_info %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @idea.platform_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @idea.role_id %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
